.box {
    width: 500px;
    height: 300px;
    display: none;

    .scheduled {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 10px;

        input {
            width: 150px;
            text-align: center;
            border: 1px solid var(--primary-color);
            outline: none;
            background-color: var(--secondary-color);
            padding: 5px;
            color: var(--primary-color);
            border-radius: 50px;
        }

        .boxBtns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;

            button {
                width: 120px;
            }
        }

        .timesBtns {
            width: 450px;
            height: 100px;
            margin: 0 auto;
            overflow: auto;
            position: relative;

            .spinner {
                position: absolute;
                left: 205px;
                bottom: 35px;
            }

            button {
                width: 100px;
                border: none;
                border-radius: 5px;
                background-color: var(--tertiary-color);
                color: var(--secondary-color);
                padding: 5px 0;
                cursor: pointer;
                font-size: 0.85rem;
                margin: 3px;
            }

            button.selected {
                background-color: var(--primary-color);
            }
        }
    }

    .showSchedule {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;

        p {
            text-align: center;
            font-size: 1.25rem;

            span {
                font-weight: 600;
            }
        }

        .boxBtns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;

            button {
                width: 120px;
            }
        }
    }
}

.timesBtns::-webkit-scrollbar {
    width: 10px;
}

.timesBtns::-webkit-scrollbar-track {
    background: rgb(182, 182, 182);
    border-radius: 10px;
}

.timesBtns::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;

    &:hover {
        background-color: var(--tertiary-color);
    }
}

.box.active {
    display: block;
}