.changeAppointment {
    height: 100%;
    display: flex;
    flex-direction: column;

    .backBtn {
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        background-color: transparent;
        width: max-content;
        padding: 0;
        position: absolute;
        top: 30px;
        left: 50px;
        font-weight: 500;
        color: var(--primary-color);
    }

    h1 {
        margin: 50px 0 20px 0;
    }

    .selectField {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;

        label {
            font-weight: 500;
        }

        select {
            width: 200px;
            border: 1px solid var(--primary-color);
            border-radius: 50px;
            background-color: transparent;
            color: var(--primary-color);
            text-align: center;
            outline: none;
        }
    }

    .btnSubmit {
        border: none;
        width: 100px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        padding: 10px;
        border-radius: 50px;
        cursor: pointer;
        font-weight: 500;
        align-self: center;

        &:hover {
            background-color: var(--tertiary-color);
        }
    }

    .btnSubmit.disable {
        cursor: initial;
        background-color: gray;
    }

    .spinnerLoading {
        width: 50px;
        height: 50px;
        align-self: center;
        margin-top: 50px;
    }

    .spinnerSubmiting {
        width: 50px;
        height: 50px;
        align-self: center;
    }
}