.containerChangeAppointment {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 350px;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
    border-radius: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #e1e1e1, #ffffff);
    box-shadow: 25px 25px 15px #d5d5d5,
        -25px -25px 15px #ffffff;
}