.content {
    width: calc(100vw - 271px);
    height: 100%;
    background-image: url("/images/bg-2.webp");
    background-size: cover;

    .header {
        box-sizing: border-box;
        width: 100%;
        height: 61px;
        background-color: var(--tertiary-color);
        display: flex;
        align-items: center;
        padding: 0 20px 0 50px;
        color: var(--secondary-color);

        h3 {
            margin: 0;
            font-weight: 600;
        }

        .appointments {
            margin: 0 auto;
        }

        button {
            height: 40px;
            border: none;
            border-radius: 50px;
            background-color: var(--secondary-color);
            padding: 10px;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: center;
            color: var(--primary-color);
            cursor: pointer;

            svg {
                position: relative;
                bottom: 2px;
            }

            &:hover {
                background-color: var(--primary-color);
                color: var(--secondary-color);
            }

            .rotateSpinner {
                animation: spin 1s linear infinite;
            }
        }

    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        box-sizing: border-box;
        padding: 20px;
        height: calc(100vh - 261px);
        overflow: auto;

        .loading,
        .error,
        .notFound,
        .noAppointments {
            display: flex;
            align-items: center;
            gap: 5px;
            font-weight: 600;
            align-self: center;
            margin: auto 0;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            padding: 10px;
            border-radius: 50px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }

        .timeline {
            display: flex;
        }
    }

    .container::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .container::-webkit-scrollbar-track {
        background: rgb(182, 182, 182);
        border-radius: 10px;
    }

    .container::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: 10px;

        &:hover {
            background-color: var(--tertiary-color);
        }
    }

    .modalOverlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1000;

        .modalContent {
            background: white;
            padding: 2rem;
            border-radius: 10px;
            width: 300px;
            max-width: 90%;
            text-align: center;

            p {
                span {
                    font-weight: 600;
                }
            }

            h2 {
                font-weight: 600;
                font-size: 1rem;
            }

            .btns {
                display: flex;
                gap: 10px;
                justify-content: center;
                margin: 0 auto;

                button {
                    height: 40px;
                    width: 120px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    background-color: var(--primary-color);
                    color: var(--secondary-color);
                    padding: 10px;
                    border-radius: 50px;
                    cursor: pointer;
                    box-sizing: border-box;

                    .finishIcon {
                        margin-right: 7px;
                    }

                    .cancelIcon {
                        font-size: 20px;
                        margin-right: 3px;
                    }
                }

                .cancelBtn {
                    background-color: red;

                    &:hover {
                        background-color: rgba(255, 0, 0, 0.5);
                    }
                }

                .finishBtn {
                    background-color: green;

                    &:hover {
                        background-color: rgba(0, 128, 0, 0.5);
                    }
                }

                .backBtn {
                    &:hover {
                        background-color: var(--tertiary-color);
                    }
                }
            }

        }
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}