.box {
    width: 500px;
    height: 300px;
    display: none;
    align-items: center;
    justify-content: center;

    .searchView {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

        p {
            position: absolute;
            bottom: 50px;
        }

        .spinner {
            position: absolute;
            bottom: 35px;
        }
    }

    .selectedView {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;

        p {
            font-size: 1.25rem;
            margin: 0;
        }

        span {
            font-weight: 600;
        }

        .btns {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;

            button {
                width: 120px;
            }
        }
    }
}

.box.visible {
    display: flex;
}