.searchForm {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: auto;
    
    .spinner, .message {
        position: absolute;
        bottom: 30px;
    }

    &.visible {
        display: flex;
    }
}