.form {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .spinner {
        position: absolute;
        bottom: 60px;
    }

    .message {
        position: absolute;
        bottom: 70px;
    }
}

.form.visible {
    display: flex;
}