.selectAppointment {
    width: 100%;
    height: calc(100% - 60px);
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow: auto;
    align-self: end;

    .patientName {
        margin: 0;
        position: absolute;
        top: 60px;

        span {
            font-weight: 600;
        }
    }

    h1 {
        margin: 0;
        position: absolute;
        top: 25px;
        font-size: 1.5rem;
    }
}

.selectAppointment.visible {
    display: flex;
}