.searchAppointment {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    background: var(--bg-color);

    h1 {
        margin: 0;
    }

    .backBtn {
        display: flex;
        align-items: center;
        gap: 5px;
        border: none;
        text-decoration: underline;
        cursor: pointer;
        background-color: transparent;
        width: max-content;
        padding: 0;
        position: absolute;
        top: 30px;
        left: 50px;
        font-weight: 500;
        color: var(--primary-color);
    }
}