.appointmentsFound {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    flex-grow: 1;
    overflow: hidden;
    margin-top: 20px;

    p {
        margin: 0;
    }

    .patientName {
        span {
            font-weight: 500;
        }
    }
}

.appointmentsFound.visible {
    display: flex;
}