.searchField {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .spinner, .message {
        position: absolute;
        top: 60%;
    }

    &.visible {
        display: flex;
    }
}